* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
    background-color: rgb(241, 241, 241);
  }
  
  li {
    list-style-type: none;
  }

.trees {
    display: flex;
    gap: 40px;
    & li {
      cursor: pointer;
    }
}
  
  #map {
    width: 95vw;
    height: 60vh;
    border-radius: 4px;
    box-shadow: 0 0 1px #222;
  }

.tree__geofencesgrour {
  padding-left: 30px;
}

.tree__vehiclegroup, .tree__vehicle {
  padding-left: 30px;
}

.tree__geofences {
  padding-left: 50px;
  &group {
    padding-left: 50px;
  }

}

.tree__vehicle_item, .tree__geofences_item {
  padding-left: 10px;
}